html{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}


h1{color: cadetblue;}
h2{color: darkblue;}

caption{color: darkblue;}

.parr2{color: rgb(99, 71, 0);}

.tit1{color: goldenrod;}
.tit2{color: red;}
